<div [ngClass]="expired ? 'bg-red-50 border-red-500' : 'bg-blue-50 border-blue-500'"
    class="dark:bg-[#1a1a1a] rounded-xl p-6 border-l-4 shadow-sm relative transition-colors duration-200">
    <div class="flex justify-between items-start">
        <div>
            <h4 class="text-lg font-bold text-gray-900 dark:text-white">{{ item?.name }}</h4>
            <div class="grid grid-cols-2 gap-x-12 gap-y-2 mt-3 text-sm">
                <div>
                    <span class="text-gray-500 dark:text-gray-400 block">{{ 'itemCard.category' | transloco }}</span>
                    <span class="font-medium text-gray-900 dark:text-gray-200">{{ item?.category }}</span>
                </div>
                <div>
                    <span class="text-gray-500 dark:text-gray-400 block">{{ 'itemCard.quantity' | transloco }}</span>
                    <span class="font-medium text-gray-900 dark:text-gray-200">{{ item?.quantity }}</span>
                </div>
                <div>
                    <span class="text-gray-500 dark:text-gray-400 block">{{ 'itemCard.purchaseDate' | transloco
                        }}</span>
                    <span class="font-medium text-gray-900 dark:text-gray-200">{{ item?.purchaseDate }}</span>
                </div>
                <div>
                    <span class="text-gray-500 dark:text-gray-400 block">{{ 'itemCard.bestBefore' | transloco }}</span>
                    <span [ngClass]="expired ? 'text-red-600 dark:text-red-500' : 'text-blue-600 dark:text-blue-500'"
                        class="font-medium">{{ item?.bestBefore }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Progress Bar -->
    <div [ngClass]="expired ? 'bg-red-200 dark:bg-red-900/30' : 'bg-blue-200 dark:bg-blue-900/30'"
        class="mt-4 w-full rounded-full h-2.5">
        <div [ngClass]="expired ? 'bg-red-600 dark:bg-red-500' : 'bg-blue-600 dark:bg-blue-500'"
            class="h-2.5 rounded-full max-w-full" [style.width.%]="itemProgress"></div>
    </div>
</div>