services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '4200:80'
    restart: unless-stopped
    container_name: pantry-frontend
    environment:
      - NODE_ENV=production
