<!-- Page Title -->
<div class="mb-8">
    <h2 class="text-3xl font-bold text-gray-900 dark:text-white">{{ 'inventory.title' | transloco }}</h2>
    <p class="text-gray-500 dark:text-gray-400 mt-1">{{ 'inventory.subtitle' | transloco }}</p>
</div>

<!-- Stats Cards -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
    <stat-card [title]="'inventory.stats.totalItems' | transloco" [value]="totalItemsCount">
    </stat-card>

    <stat-card [title]="'inventory.stats.expiringSoon' | transloco" [value]="expiringSoonItemsCount"
        [valueColor]="'text-[#d97736] dark:text-orange-500'">
    </stat-card>

    <stat-card [title]="'inventory.stats.expired' | transloco" [value]="expiredItemsCount"
        [valueColor]="'text-red-600 dark:text-red-500'">
    </stat-card>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Add New Item Form -->
    <div class="lg:col-span-1">
        <add-item-form (addItem$)="onAddItem($event)"></add-item-form>
    </div>

    <!-- Inventory List -->
    <div class="lg:col-span-2 space-y-6">
        <h3 class="text-xl font-bold text-gray-900 dark:text-white">{{ 'inventory.yourInventory' | transloco }}</h3>

        @for (item of items; track item.name) {
        <item-card [item]="item" (delete)="onDeleteItem(item)" class="mb-4"></item-card>
        }
    </div>
</div>

<p-toast></p-toast>
<p-confirmDialog [dismissableMask]="dismissableMask">
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        @if (message) {
        <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <i [class]="message.icon" class="!text-5xl"></i>
            <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Cancel" [outlined]="outlinedCancelButton" (onClick)="onReject()" styleClass="w-32">
                </p-button>
                <p-button label="Remove" (onClick)="onAccept()" styleClass="w-32"></p-button>
            </div>
        </div>
        }
    </ng-template>
</p-confirmDialog>